# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs and Editors
.idea/
.vscode/

# Logs
logs/

# Tests
test/

# Temporary Files
tmp/
*.tmp

# System Files
.DS_Store
Thumbs.db

# OS specific files
/.[OS X]/
/.cache/
/node_modules/
/npm-debug.log*
/yarn-error.log*